.slider {
    height: 100vh;
    padding-top: 100px;
    width: 100%;
    position: relative;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-container {
    width: 100%;
    height: 100%;
}

.slider-piece {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.slider-piece div {
    width: 50%;
    max-width: 650px;
    text-align: center;
    color: white;
}

.slider-piece div h3 {
    font-size: 50px;
}

.slider-piece .linea {
    margin: 2px 0;
    padding: 2px 10px;
    background: rgb(248, 190, 0);
    border-radius: 4px;
    display: block;
}

.slider-piece div img {
    width: 70px;
    /* display: block; */
}

.slider-circles {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    display: table;
}

.slider-circles div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 7px;
    background: rgb(80, 80, 80);
    display: inline-block;
}

.slider-circles .active {
    background: #003A66;
}

.slider .indicators {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    cursor: pointer;
}

.slider .indicators i {
    font-size: 4em
}

.indicators.left {
    left: 10px;
}

.indicators.right {
    right: 10px;
}

@media screen and (max-width: 800px) {
    .slider-piece div {
        width: 90%;
    }
    .slider-piece div h3 {
        font-size: 30px;
    }
    .slider-piece .linea {
        padding: 1px;
    }
    .indicators.left {
        left: 0;
    }
    .indicators.right {
        right: 0;
    }
    .indicators {
        height: 100%;
        top: 0;
        transform: translate(0);
        opacity: 0;
    }
}


/* Quien soy section */

.quien {
    padding: 40px 0
}

.quien-container {
    width: 70%;
    max-width: 900px;
    display: flex;
    margin: 0 auto;
}

.quien .text {
    width: 60%;
    padding: 0 20px 0 0;
}

.quien .text div {
    margin-top: 10px;
    background: #003A66;
    float: right;
    padding: 5px 10px;
    color: white;
    border-radius: 0px;
    box-shadow: 3px 3px 17px black;
}

.quien-container img {
    width: 100%;
    display: block;
}

@media screen and (max-width: 800px) {
    .quien-container {
        width: 90%;
    }
    .quien .text {
        width: 100%;
    }
    .quien h1 {
        text-align: center;
    }
}


/* Parralax 1 */

.parallax1 {
    height: 40vh;
    max-height: 700px;
    max-height: 450px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* servicios */

.servicios {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.servicios-container {
    display: flex;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: space-between;
}

.servicios-piece {
    width: 30%;
    display: block;
    cursor: pointer;
}

.servicios-piece h3 {
    text-align: center;
}

.servicios-piece img {
    width: 100%;
    display: block;
}

.servicios-piece div {
    text-align: center;
    width: 100%;
    padding: 7px 0;
    background: #003A66;
    color: white;
    font-size: 12px;
}

@media screen and (max-width: 800px) {
    .servicios-container {
        width: 100%;
        flex-wrap: wrap;
    }
    .servicios-piece {
        width: 100%;
    }
}


/* ENTERPRISE SLIDER */

.enterprise-slider {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: rgb(238, 238, 238);
    padding: 50px 0;
}

.enterprise-slider-container {
    display: flex;
    height: 100%;
    position: relative;
}

.enterprise-slider-container div {
    height: 100%;
    width: 25vw;
    display: flex;
    padding: 0 60px;
}

.enterprise-slider-container img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .enterprise-slider-container div {
        width: 50vw;
        padding: 0 20px;
    }
    .enterprise-slider {
        padding: 0;
        height: 180px;
    }
}


/* PROYECTOS DESTACADOS */

.proyects {
    padding: 100px 0;
    display: block;
}

.proyects h1,
.proyects h3 {
    text-align: center;
}

.proyects .text h3 {
    width: 100%;
}

.proyects-container {
    width: 70%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.proyects-piece {
    width: 100%;
    padding: 20px 0px;
    display: flex;
}

.proyects-piece div {
    width: 50%;
    text-align: center;
    padding: 0 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.proyects-piece div img {
    display: block;
    width: 100%;
}

@media screen and (max-width:800px) {
    .proyects-piece div {
        width: 100%;
    }
    .proyects-container {
        width: 100%;
    }
    .proyects-piece .text {
        padding: 0;
    }
    .proyects-piece .text p {
        padding: 5px 20px;
    }
}