@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p,
a,
table,
li,
div {
    font-family: 'Open Sans', sans-serif;
}



.img-background {
     background-size: cover;
    background-position: center;
}


.mov {
    display: none !important;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card{
    box-shadow: 2px 2px 7px black;
    border-radius: 2px;
    transition: all .4s;
}

.card:hover {
    box-shadow: 2px 2px 12px black;
    /*transform: scale(1.05);*/
}

@media screen and (max-width: 800px) {
    .mov {
        display: block !important;
    }
    .pc {
        display: none !important;
    }
}