@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p,
a,
table,
li,
div {
    font-family: 'Open Sans', sans-serif;
}

.mov {
    display: none;
}

@media screen and (max-width: 800px) {
    .mov {
        display: block;
    }
    .pc {
        display: none;
    }
}